/* https://css-tricks.com/box-sizing/ */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: yellow;
    height: 70px;
}

.header a {
    font-size: 30px;
}

.main-container {
    /* centrerar innehåll i block-element */
    text-align: center;
    /* tar upp 80% av dess parent. margin auto kommer då centrera */
    width: 1368px;
    margin: auto;
}

.main-item {
    width: 100%;
}